apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pihole

resources:
  - base/namespace.yaml
  - base/deployment.yaml
  - base/svc.yaml

images:
  - name: danielkubat/unbound-rpi
    newTag: 1.19.2 # https://github.com/danielkubat/unbound-rpi/releases
